@font-face{
    font-family: 'Inter-Reg';
    src: url('/fonts/Inter-Regular.ttf');
}

* {
    font-family: Inter-Reg;
}

.card {
    padding: 0.5em;
    margin: 1em 1em 0 0;
    border-radius: 4px;
}

.bg-blue-gradient {
    background-image: linear-gradient(to right bottom, #004ec4, #0044ab, #003b92, #00317a, #002863);
}

.dashboard-card-title, .dashboard-title-data {
    color: #fff;
    text-transform: uppercase;
}

.dashboard-card-title{
    font-size: 2rem;
    font-weight: bold;
}

.dashboard-title-data{
    font-size: 4rem;
}